html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

:root {
    --dark-gray: #323232;
    --color-for-nav: #0f0101;
    --h2-color: #515151;
    --text-color: #555252;
    --green-blog-blog-and-focus: #4ec6ab;
    --other-gray: #8c8c8c;
    --green-choice-and-top-line: #1abc9c;
    --green-choice-price: #7fd9c7;
    --gallery-text-color: #ffffff;
    --main-font: 'Roboto', sans-serif;
    --other-font: 'Open Sans', sans-serif;
}

.body {
    font-family: var (--main-font);
    margin: 0;
}

.container {
    width: 1110px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
}

.logo:first-of-type:first-letter {
    font-weight: bold;
    color: var(--green-choice-and-top-line);
    font-family: var(--main-font);
    font-size: 30px;
}

.logo:first-letter {
    font-size: 2.5em;
}

.logo-mart {
    color: var(--text-color);
    text-decoration: none;
    margin: 0;
    font-family: var(--main-font);
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 300;
}

.logo .logo-mart:hover,
.logo .logo-mart:focus {
    color: var(--green-choice-and-top-line);
}

.menu {
    margin: 0px;
    padding: 0px;
    width: 465px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
}

.menu {
    list-style-type: none;
}

.nav-list {
    display: block;
    color: var(--color-for-nav);
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 14px;
    padding: 5px 11px;
}

.nav-list:last-child {
    padding-right: 0;
}

.nav-link {
    text-decoration: none;
    color: var(--color-for-nav);
}

.nav-link:hover,
.nav-link:focus {
    color: var(--green-blog-blog-and-focus);
}

.section {
    text-align: center;
    padding-top: 110px;
}

.top-header {
    margin: 0;
    margin-bottom: 130px;
    font-family: var(--main-font);
    font-size: 48px;
    color: var(--h2-color);
    text-transform: uppercase;
}

.gallery {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.gallery li {
    list-style-type: none;
}

.gallery-list {
    display: flex;
    margin-right: 30px;
    margin-bottom: 30px;
}

.gallery-list a {
    color: var(--gallery-text-color);
}

.gallery-list:nth-child(4n) {
    margin-right: 0px;
}

.gallery-list:nth-last-child(-n + 4) {
    margin-bottom: 0px;
}

.gallery-link {
    text-decoration: none;
    display: flex;
    width: 255px;
    height: 320px;
    align-items: flex-end;
}

.gallery-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: 0;
    padding-left: 15px;
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 18px;
    background-color: var(--dark-gray);
    width: 200px;
    height: 40px;
    position: relative;
    text-transform: uppercase;
}

.price {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 18px;
    background-color: var(--other-gray);
    width: 55px;
    height: 40px;
    position: relative;
}

.gallery-link:hover .gallery-header {
    background-color: var(--green-choice-and-top-line);
}

.gallery-link:hover .price {
    background-color: var(--green-choice-price);
}

.gallery-img {
    width: 255px;
    position: absolute;
}

.lower-header {
    margin: 0 auto;
    margin-bottom: 130px;
    font-family: var(--main-font);
    font-size: 48px;
    color: var(--text-color);
    text-transform: uppercase;
}

.bottom-line {
    border: none;
    background-color: var(--green-choice-and-top-line);
    width: 165px;
    height: 7px;
}

.blog {
    display: flex;
    padding: 0px;
    margin: 0px;
    font-size: 0px;
}

.blog-img {
    width: 350px;
    margin-bottom: 15px;
}

.blog-header {
    margin: 0px;
    margin-bottom: 45px;
    text-align: left;
    font-family: var(--other-font);
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    color: var(--text-color);
}

.blog-text {
    margin: 0px;
    margin-bottom: 20px;
    text-align: left;
    font-family: var(--other-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color: var(--text-color);
}

.blog li {
    list-style-type: none;
    display: inline-block;
}

.blog-list a {
    color: var(--gallery-text-color);
    text-decoration: none;
    font-family: var(--main-font);
    font-weight: 300;
    font-size: 16px;
    background-color: var(--green-blog-blog-and-focus);
}

.blog-list {
    margin-right: 30px;
}

.blog-list:nth-child(3n) {
    margin-right: 0px;
}

.blog-link {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    width: 160px;
    height: 50px;
}

.blog-link:hover,
.blog-link:focus {
    background-color: var(--other-gray);
}

.bottom-line {
    border: none;
    background-color: var(--green-blog-blog-and-focus);
    width: 165px;
    height: 7px;
    margin-top: 0px;
    margin-bottom: 95px;
}

.blog-lines {
    border: none;
    margin-left: 0px;
    margin-bottom: 45px;
    background-color: var(--green-blog-blog-and-focus);
    width: 135px;
    height: 3px;
}